---
layout: blog
section_id: blog
---

<div class='full'>
  <div class='row'>
    <div class='large-12 columns'>
      <div class='mod modBlogPost big no_bg'>
        <div class='images'>
          {% if page.image %}
          <!--  <div class='image'><img alt="" src="{{site.url}}/{{page.image}}" /></div> -->
          {% endif %}
          {% if page.video %}
          <div class="video-container"><iframe width="100%" height="500px"  src="{{page.video}}" frameborder="0" allowfullscreen></iframe></div>

          {% endif %}

        </div>
        <div class='content'>
          <p class='info'>
            <span>{{page.date | date: "%B %d, %Y" }}</span>
            /
            <span>
              by
              <a href="#">{{page.author}}</a>
            </span>
            /
            <span>
              In
              {% for cat in page.categories %}
                <a href="#">{{cat}}</a>
                {% unless forloop.last %}
                    ,
                {% endunless %}
              {% endfor %}
            </span>
            /
          <!--  <span>
              <a href="#comments">4 comments</a>
            </span> -->
          </p>
          <h3><a href="{{page.url}}">{{page.title}}</a>
            <div class="fb-share-button" data-href="{{page.url}}" data-layout="button_count" data-size="large" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse">Share</a>
            </div>

          </h3>
          {{ content }}
        </div>
        <div class="fb-comment-embed" data-href="{{page.url}}" data-width="100%" data-include-parent="false">
        </div>
      </div>

      <div class='four spacing'></div>
    </div>

  </div>
</div>
